.DS_Store
node_modules
.worktrees
.sst
.env
.idea
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
result
refs
Session.vim
a.out
target
.scripts
.direnv/
/reports/
/opencode.json
/opencode-dev
logs/
*.bun-build
